.section_label {
  padding-left: 5vw;
}
.remove_button_layout {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
  .remove_button_container {
    width: 73vw;
    height: 100px;
    .remove_button {
      height: 100%;
      width: 100%;
      font-size: 18px;
      color: white;
      background-color: #333333;
      text-shadow: 1px 1px 0 #333333 - 30;
      border-left: 5px solid #333333 + 15;
      border-bottom: 8px solid #333333 - 15;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
    .remove_button:hover {
      background-color: #333333 + 15;
      text-shadow: 1px 1px 0 #333333;
      border-left: 5px solid #333333 + 30;
      border-bottom: 8px solid #333333;
    }
    .remove_button:active {
      border-left: none;
      border-bottom: 3px solid #333333;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
    .remove_button:focus {
      outline: none;
    }
  }
}
