.login_container {
  background-color: $important;
  color: #f5f1f1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .login_button {
    transition: 250ms;
    width: 60%;
    height: 100px;
    color: #222222;
    font-size: 22px;
    font-weight: 800;
    background-color: #f5f1f1;
    border-bottom: 8px solid #f5f1f1 - 15;
  }
  .login_button:hover {
    transition: 250ms;
    width: 65%;
    height: 110px;
    color: #222222;
    font-size: 23px;
    background-color: #c2f5bf;
    text-shadow: 1px 1px 0 #c2f5bf - 30;
    border-bottom: 8px solid #c2f5bf - 15;
  }
  .login_button:active {
    outline: none;
  }
  .login_button:focus {
    outline: none;
  }
}
